@import 'nhsuk-frontend/dist/nhsuk/nhsuk';

// Add your custom CSS/Sass styles below.
@import 'components/autocomplete';
@import 'components/multi-file-upload';
@import 'components/nhs-hero';
@import 'components/search-filter';
@import 'components/radios';
@import 'components/buttons';

.nhsuk-width-container {
  max-width: 1100px;
margin: 0 auto;
}