// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

// Add your custom CSS/Sass styles below.
@import 'components/autocomplete';

.nhsuk-width-container {
  max-width: 1100px;
margin: 0 auto;
}