@import 'nhsuk-frontend/dist/nhsuk/nhsuk';

// Add your custom CSS/Sass styles below.

@import 'components/multi-file-upload';
@import 'components/nhs-hero';
@import 'components/search-filter';
@import 'components/radios';
@import 'components/buttons';
@import 'components/password-toggle';
@import 'components/emails';
@import 'components/hero';

.nhsuk-width-container {
  max-width: 1100px;
margin: 0 auto;
}