<!-- Use this page as the index for your project -->

<!-- ADDING CUSTOM CSS - Add your custom CSS or Sass in /app/assets/sass/main.scss -->

<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!--
  In /views/layout.html you can:
    - change the header and footer
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
Sign in - {{ serviceName }}
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}

{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

<div class="nhsuk-grid-row">


  <div class="nhsuk-grid-column-full">

    <h1 class="nhsuk-heading-l">Sign in to Compass</h1>
  
  
  
  
  
    <p>You are currently not signed in. You must sign in to access to access this service.</p>
  
 
  
  
    <form action="dashboard" method="post">
  
      <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
       Sign in to service with NHS Mail
      </button>



    <p><a href="okta-sign-in">Sign in another way</a></p>
  
  
    </form>
  
  
  </div>
</div>

{% endblock %}